@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --light-color: #ffffff;
    --light-color-100: #f2f2f294;
    --light-color-300: #f2f2f24d;
    --light-color-800: #b4b4b423;
    --dark-color: #1D1D1D;
    --dark-color-100: #1a1a1a;
    --dark-color-100-60: #1a1a1a4d;
}
html{
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: var(--dark-color);
    overflow-x: hidden;
}

/* scroll  */
::-webkit-scrollbar {
    width: 10px;
 }
  
::-webkit-scrollbar-track {
    background: var(--dark-color);
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container{
    padding: 0 7em;
}

.hide{
    display: none;
}
/* header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--light-color-300);
    /* overflow: hidden; */
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    background-color: var(--dark-color); 
     /* padding: 2em 0; */
}

header .logo{
    width: 100px;
    color: var(--light-color);  
    font-weight: 700;
    font-family: 2em;
    /* overflow: none; */

}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
    list-style: none;
}
header nav ul li{
    /* border-left: 1px solid var(--light-color-300);  */
    padding: 0 2.4em;
}
header nav ul li:last-child{
    /* border-right: 1px solid var(--light-color-300);  */
}
header nav ul li a{
    color: var(--light-color);
    text-decoration: none;
}

header .search{
    border-left: 1px solid var(--light-color-300); 
    border-right: 1px solid var(--light-color-300);
    padding: 2em 2em;
}
header .search svg path {
    fill: var(--light-color);
  }

header .mobile{
    display: none;
}

@media screen and (max-width: 1020px){
    header{
        padding: 2em 4em;
        justify-content: space-between;
        /* overflow: none; */
    }
    header nav{
        background: var(--dark-color);
    }
    header nav ul {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: 0;
        gap: 2em;
        flex-direction: column;
        animation: opacity-close 600ms ;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: -1;
        width: 100%;
        background-color: var(--dark-color);
        border-top: 1px solid var(--light-color-300);
        transform: translateY(-100%);
        transition: transform 600ms ease-in-out, 
    }
    
    header nav ul.active-menu {
        /* display: flex; */
        animation: opacity-open 600ms;
       
        animation-fill-mode: forwards;

        transform: translateY(0%);
        transition: transform 600ms ease-in-out;

    }
    header nav ul li{
        width:80%;
        padding-bottom: 1em;
        text-align: center;
        border-bottom: 1px solid var(--light-color-800);
    }
    header nav ul li:first-child{
        margin-top: 2em;
    }
    header nav ul li:last-child{
        border-bottom: none;
        margin-bottom: 1em;
    }
    header .search{
        display: none;
    }
    header .mobile{
        display: block;
    }
   header .mobile .menu-btn img{
    width: 2em;
    height: 2em;
    cursor: pointer;
   }
}
@keyframes opacity-open {
    0% {
      opacity: 0;
    }
    1% {
        opacity: 100;
    }
    100% {
      opacity: 100;
    }
}
    
@keyframes opacity-close {
        0% {
        opacity: 0;
        }
        99% {
            opacity: 0;
        }
        100% {
        opacity: 0;
        }
}
@media screen and (max-width: 550px) {
    header{
        padding: 2em 2em;
    }
    header .logo{
        font-size: .9em;
    }
    header .mobile .menu-btn img{
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
       }
}
/* hero */
.bg {
    --nr: 13; 
    --nc: 58; 
    --b: 1px;
    position: absolute;
    height: 100vh;
    width: 3000px;
    margin: 10px auto;
   
  
    background:
      conic-gradient(from 90deg at var(--b) var(--b),
        transparent 90deg,var(--light-color-800) 0) calc(-1*var(--b)) calc(-1*var(--b))/
        calc(100%/var(--nc)) calc(100%/var(--nr));
       

   

}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    
}
.hero .hero-content h1{
    font-weight: 600;
    font-size: 1.2em;
    text-align: left;
}
.hero .hero-content  span{
    color: transparent;
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    display: block;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--light-color);
}
.hero .hero-content .hero-title{

    height: 150px;
    color: var(--light-color);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

.hero .hero-body p {
    text-align: left;
    color: var(--light-color);
    font-size: 1.2em;
    line-height: 1.4em;
}

.hero-image{
    border: 1px solid var(--light-color);
    padding: 3em;
    border-radius: 50%;
    position: relative;
}

.hero-image img{
    border: 1px solid var(--light-color);
    height: 6em;
    width: 6em;
    border-radius: 50%;
    padding: 1.8em;
}


.hero-right .circle{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: rotation 10s infinite linear;

}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* @keyframes movement {
    0% {
        transform: translate(0, 0)  ;
    }
    10%{
        transform: translate(10px , 10px) ;
    }
    20%{
        transform: translate(5px , 2px)  ;
    }
    30%{
        transform: translate(-10px, -3px) ;
    }
    40%{
        transform: translate(3, -0px) ;
    }
    50%{
        transform: translate(-4px, 8px) ;
    }
    60%{
        transform: translate(6px, 4px) ;
    }
    70%{
        transform: translate(10px, -4px)  ;
    }
    80%{
        transform: translate(3px, 9px) ;
    }
    90%{
        transform: translate(-5px, -4px) ;
    }
    100% {
        transform: translate(-0px, -0px) ;

    }

}  */
    


.hero-right .circle .arrow-top-right{
    position: absolute;
    border: 1px solid var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 50%;
    padding: 3em;
    width: 3em;
    height: 3em;
    background: url(/images/svg/arrow-right-top.p);
    background-size: cover;

}

.hero-right .circle .text-rounded{
    position: absolute;
    top: 5%;
}

.hero-right .circle .text-rounded span{
    position: absolute;
    left: 50%;
    font-size: 1.5em;
    transform-origin: 0% 90px;
    color: var(--light-color);
}

@media screen and (max-width: 1070px){
    .container{
        padding: 0 5em;
    }
    .hero .hero-content h1{
        font-size: 1em;
        
    }
    .hero .hero-body{
        margin-top: 1em;
    }

}

@media screen and (max-width: 850px){
    .hero{
        margin-top: 6em;
        flex-direction: column;
        gap: 3em;
        
    }
    .hero .hero-content h1{
        font-size: 1em;
        margin-bottom: .4em;
    }
    .hero .hero-content  span{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px){
    .container{
        padding: 0 2em;
    }
    .hero .hero-content h1{
        font-size: .9em;
        margin-bottom: .3em;
    }
    .hero .hero-content  span{
        font-size: 1.1em;
    }
    .hero .hero-content .hero-title{
        margin-bottom: .3em;
    }
    .hero .hero-content{
        margin-top: 2em ;
        margin-bottom: .2em;
    }
}

section{
    margin-bottom: 3em;
}
section.contact{
    margin-bottom: 0;
}

section .section-header{
  
    display: flex;
    margin-bottom: 3em;
}
section .section-header .section-title{
    flex: 1 1 100%;

}

section .section-header .section-title h3{
    font-size: .9em;
    border: 1px solid var(--light-color);
    font-weight: 400;
    color: var(--light-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    display: inline-block;
    padding: .3em 1.5em;
    border-radius: 20px;
}

section .section-header .section-title h1{
    font-size: 3em;
    font-weight: 600;
    color: var(--light-color);
    text-transform: uppercase;
    letter-spacing:  0.1em;

}

section .section-header .section-text{
    flex: 1 1 100%;
    padding-left: 5em;
}

section .section-header .section-text p {
    font-size: 0.9em;
    letter-spacing: .08em;
    word-spacing: .1em;
    font-weight: 300;
    color: var(--light-color-100);
}

section .section-header .section-text .section-text-btn{
    position: relative;
    margin-top: 2em;
    font-size: 1em;
    font-weight: 400;
    color: var(--light-color);
    margin-left: 1.5em;
    cursor: pointer;
}

section .section-header .section-text .section-text-btn:hover{
    text-decoration: underline;
}

section .section-header .section-text .section-text-btn::before{
    content: "";
    position: absolute;
    width: 3em;
    height: 3em;
    background: var(--light-color-800);
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -25%);
}


.about .section-content{
    position: relative;
    margin-bottom: 2em;
    display: flex;
}

.about .section-content .skills{

    flex: 1 1 auto;
    
}
.about .section-content .infos{
    flex: 1 1 auto;

    width: 350px;

}
.about .section-content .skills h3{
    font-size: 1.5em;
    color: var(--light-color);
    font-weight: 400;
}

.about .section-content .skills .progress-bar{
    position: relative;
    margin-bottom: 1em;
    width: 40em;
    height: .2em;
    background: var(--light-color-800);
    border-radius: 20px;
}
.about .section-content .skills .progress-bar div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: var(--light-color);
    border-radius: 20px;
}

.about .section-content .skills .progress-bar div span{
    height: 30px;
    width: 30px;
    background: var(--light-color);
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    color: var(--dark-color);
    margin-left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 600ms ease-in-out;
}
.about .section-content .skills .progress-bar .html{
    animation: html 2s ease-in-out forwards;
}
.about .section-content .skills .progress-bar .css{
    animation: css 2s ease-in-out forwards;

}
.about .section-content .skills .progress-bar .js{
    animation: js 2s ease-in-out forwards;

}
.about .section-content .skills .progress-bar .php{
    animation: php 2s ease-in-out forwards;

}
.about .section-content .skills .progress-bar .mysql{
    animation: mysql 2s ease-in-out forwards;

}
.about .section-content .skills .progress-bar .react{
    animation: react 2s ease-in-out forwards;

}
.about .section-content .skills .progress-bar .laravel{
    animation: laravel 2s ease-in-out forwards;
}
@keyframes html{
  
    100%{
        width: 90%;
    }
}
@keyframes css{
    100%{
        width: 80%;
    }
}
@keyframes js{
    100%{
        width: 70%;
    }
}
@keyframes php{
    100%{
        width: 60%;
    }
}
@keyframes mysql{
    100%{
        width: 50%;
    }
}
@keyframes react{
    100%{
        width: 40%;
    }
}
@keyframes laravel{
    100%{
        width: 30%;
    }
}


.about .section-content .infos .row-info{
    display: flex;
    margin-bottom: 1em;   
    gap: 2em;
}
.about .section-content .infos .row-info h2{
    flex: 3 1 auto;
    font-size: 1.1em;
    color: var(--light-color);
    width: 30px;

}.about .section-content .infos .row-info p{
    flex: 1 1 auto;
    font-size: 1.1em;
    color: var(--light-color);
    width: 5px;

}

.about .section-content .infos .row-info h3{
    flex: 7 1 auto;
    color: var(--light-color);
    width: 40px;
    font-size: 1.1em;

}
    

@media screen and (max-width: 1110px){
    section .section-header{
        flex-direction: column;
    }
    section .section-header .section-text{
        flex: 1 1 100%;
        padding-left: 0em;
    }
    section .section-header .section-title{
        margin-bottom: 3em;
    }
    section .section-header .section-text p{
        font-size: 1em;
    }
}

@media screen and (max-width: 860px){
    section .section-header .section-title h1{
        font-size: 2.3em;
        margin-top: .8em;
    }
    section .section-header .section-text p{
        font-size: .9em;
    }
}

.animation-text{
    border-top: 1px solid var(--light-color-100);
    border-bottom: 1px solid var(--light-color-100);
    width: 120%;
    left: 0;
    padding-block: 1em;
    position: absolute;
    margin-top: 3em;
    transform: rotate(-2.55deg);
    background-color: var(--dark-color);
    display: flex;
 
    
}
.animation-text .animation-text-true , .animation-text .animation-text-false{
    white-space: nowrap;
    position: relative;
    top: 20px;
    /* transform: translate(0, 50%); */
    
}
.animation-text .animation-text-true{
    animation: moving-text 30s linear infinite ;
}
.animation-text .animation-text-false{
    animation: moving-text 30s linear infinite ;
}
@keyframes moving-text{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.animation-text span{
    font-size: 3em;
    font-weight: 600;
    /* font-weight: 400; */
    color: var(--light-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    display: inline-block;
    padding: .3em 1.3em;
    border-radius: 20px;
    cursor: pointer;
}

.technology{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17em;
    margin-bottom: 5em;
    gap: 2em;
    flex-wrap: wrap;
    border-top: 1px solid var(--light-color-100);
    border-bottom: 1px solid    var(--light-color-100);
    padding: 2em;
}
.technology .img-technology{
    display: flex;
    align-items: center;
    gap: .5em;
}
.technology .img-technology img{
    width: 5em;
    height: 5em;
    /* border: 1px solid var(--light-color-100); */
}
.technology .img-technology p{
    font-size: 2em;
    color: var(--light-color-100);
}

section .section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

section .section-content .section-card{
    padding: 5em 3em 4em 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px solid var(--light-color);
    position: relative;
    overflow: hidden;
    background: url("images/png/Grey-Wave-PNG-Transparent.png");
    background-position: -10px , center;
    background-position-y: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
}

section .section-content .section-card .section-card-img img{
    width: 3em;
}


section .section-content .section-card .section-card-title h2{
    font-size: 1em;
    font-weight: 300;
    color: var(--light-color-300);
    word-spacing: 3px;
    letter-spacing: .5px;
    margin-bottom: 1.4em;
}

section .section-content .section-card .section-card-title h1{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--light-color);
    word-spacing: 1px;
    margin-bottom: 1.4em;
    letter-spacing: .5px;

}

section .section-content .section-card .section-card-title p{
    color: var(--light-color-100);
    font-weight: 400;
    line-height: 1.4em;
    font-size: .9em;
    word-spacing: 1px;
    letter-spacing: .5px;
}

section .section-content .section-card .section-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


section .section-content .section-card .section-card-btn button{
    background: var(--dark-color);
    border-top: 1px solid var(--light-color-100);
    border-bottom: 1px solid var(--light-color-100);
    border-left: 1px solid var(--light-color-100);
    border-right: none;
    display: flex;
    justify-content: space-between;
    width: 15em;
    align-items: center;
    padding-left: 2em;
    /* padding: 1em 3em; */
    color: var(--light-color);
    border-radius: 30px;
    transition: all 600ms ease-in-out;
  
}

section .section-content .section-card .section-card-btn button svg{
    width: 3em;
    height: 3em;
    padding: .7em;
    border: 1px solid var(--light-color-100);
    transition: all 600ms ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}

section .section-content .section-card .section-card-btn button:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

section .section-content .section-card .section-card-btn button:hover > svg {
    stroke: var(--dark-color);
    fill: var(--dark-color);
    /* border: 1px solid var(--dark-color); */
}


/* 
 */
 .container-project{ 
    margin-top: 2em;
    position: relative;
    overflow: hidden;

 
}
 .projects{
   
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: 1s ease-in-out;
    /* gap: 3rem; */
}
.btn-arrow{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    /* background: var(--dark-color); */
}

/* .btn-arrow .arrow:hover{
    background: var(--light-color);
} */

.btn-arrow img{
    height: 3em;
    border: 1px solid var(--light-color-100);
    padding:0.6em 3em;
    border-radius: 40px;
}

.container-project{
    background-size: contain;
    background-position: right;
    background-blend-mode:difference;
    background-repeat: repeat-y;
}

.projects .project{
    display: flex;
    min-width: 100%;  
    
}
.img-project img{
    width: 20em;
    height: 20em;
    margin-right: 2rem;
    object-fit: cover;
}
.contenu-project{
    padding-bottom: 1rem;
    
}
.contenu-project code{
    color: var(--light-color-100);
    margin-bottom: 2rem;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
}


.contenu-project h2{
    color: var(--light-color);
    margin-block: 1.5rem;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}
.contenu-project p {
    color: var(--light-color-100);
    margin-block: 2rem;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.contenu-project .btn {
    color: var(--color-light-100);

    padding: .5em 3em;
    display: flex;
    display: inline-block;
    border: 1px solid var(--light-color-100);
    border-radius: 30px;
}
.contenu-project .btn img{
    width: 1.4em;
    height: 1.4em;
    top: -10px;
}

.btn-arrow button{
    background: var(--dark-color);
    border: none;
    cursor: pointer;

}

@media screen and (max-width: 1100px){
    .projects .project{
        flex-direction: column;
    }
    .img-project img{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .img-project img{
        height: 17em;
        margin-right: 2rem;
        object-fit: cover;
    }
    .contenu-project code{
        font-size: 1em;
    }
    .contenu-project h2{
        font-size: 1.5em;
    }
    .contenu-project p {
        font-size: 1em;
    }
    .btn-arrow {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
  
    }
    .btn-arrow .arrow{
        background: var(--light-color-800);
    }
    .btn-arrow img{
        border: none;
        padding: 0.6em 2em;
    }
    .btn-arrow .prev{
        position: absolute;
        border: none;
        left: 0;
        top: 20%;
       
       

        /* transform: translateY(-50%); */
    }
    .btn-arrow .next{
        position: absolute;
        border: none;
        right: 0;
        top: 20%;

  
        /* transform: translateY(-50%); */
    }
}


.animationText{
    border-top: 1px solid var(--light-color-800);
    border-bottom: 1px solid var(--light-color-800);
    padding-block: 1em;
    margin-top: 2em;
    background-color: var(--dark-color);
    display: flex;
    gap: 30px;
    margin-bottom: 5em;
}

.animation-text-true , .animation-text-false{
    white-space: nowrap;
    position: relative;
    display: flex;
    gap: 3em;
    /* top: 20px; */
    animation: moving-text 30s linear infinite;
    
}
.animationText .animation-text-true span,.animationText .animation-text-false span{
    font-size: 5em;
    word-wrap: none;
    color: var(--light-color);
}


@keyframes moving-text{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.text-stroke{
    color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--light-color);
}
.services .section-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.services .section-content ul{
    flex: 1 1 100%;

}
.section-content .list-service ul li{
    list-style: none;
    font-size: 3em;
    color: var(--light-color);
    border: 1px solid ;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, var(--dark-color), var(--light-color-300), var(--light-color-100), var(--light-color-300), var(--dark-color));
    border-top: none;
    border-left: none;
    border-right: none;
    padding: .3em 4em .4em 1em;
}

.services .card-section{
    position: relative;
    background-image: url("/images/jpg/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;

    height: 30em;
    display: flex;
    align-items: end;
}

.services .card-section img{
    /* width: 26em; */
    /* height: 30em; */

    /* object-fit: cover; */
}

.services .card-section .section-card.services-card{
    /* position: absolute; */
    /* display: none; */
    bottom: 0em;
    left: -4em;
    width: 25em;
    border: none;
    /* background-color: linear-gradient(120deg, var(--dark-color-100), var(--dark-color-100), var(--dark-color), var(--dark-color), var(--dark-color)); */
    background:  url("images/png/Grey-Wave-PNG-Transparent.png"), var(--dark-color-100);
    background-position: -5px , center;
    background-position-y: 140px;
    background-repeat: no-repeat;
    background-size: cover;
 

} 

@media screen and (max-width: 1300px){
    .services .card-section{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        
        background-position: right;
    }
}

@media screen and (max-width: 800px){
    .section-content .list-service ul li{
        font-size: 2em;
    }
}

.contact{
    position: relative; 
    padding: 5em 7em;
   
}
.contact::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: linear-gradient(var(--dark-color-100-60), var(--dark-color-100-60)),url("images/png/pngwing.com\ \(2\).png");
    filter: opacity(.3);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: right;
 


}

.contact .section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contact .section-content .content-text{
    flex: 1 1 auto;
  

    width: 25em;
}
.contact .section-content .content-form{
    flex: 1 1 auto;

}

.contact .section-content .content-text h3{
    font-size: 2em;
    color: var(--light-color);  
    margin-bottom: 1.5em;
}

.contact .section-content .content-text p{
    color: var(--light-color-100);
    font-size: 1em;
    margin-bottom: 1.5em;
    
    letter-spacing: .03em;
}

.contact .section-content .content-text h4{
    font-size: 1.5em;
    color: var(--light-color);  
    margin-bottom: 2em;
}
.contact .section-content  .content-form input, .contact .section-content  .content-form textarea{
    background: var(--dark-color);
    border: 1px solid var(--light-color-300);
    padding: 1em  1em;
    width: 100%;
    color: var(--light-color);

    
    /* min-width: 100%; */
    outline: none;
    
}
.contact .section-content .content-form .group-form{
    margin-bottom: 1em; display: flex;
    gap: 1em;
}

.contact .section-content  .btn button{
    background: var(--dark-color-100);
    border: 1px solid var(--light-color-100);
    border-radius: 30px;
    color: var(--light-color);
    font-size: 1em;
    padding: 1em 2.8em;
    cursor: pointer;
    transition: 600ms ease-in-out;
}

.contact .section-content  .btn button:hover{
    background: var(--light-color);
    border: 1px solid var(--dark-color-100);
    color: var(--ldarkight-color-100);
}

footer{
    background-color: var(--dark-color-100);

   
}
footer .links-footer{
    padding: 2em 7em;

    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid var(--light-color-800);
}

footer .links-footer .col{
    flex: 1 1 100%;
    margin-right: 2em;
}

footer .links-footer .col h3{
    color: var(--light-color);
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1.2em;
    letter-spacing: .0101em;

}

footer .links-footer .col p{
    color: var(--light-color-100);
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .0101em;
    margin-bottom: .8em;
}  

footer .links-footer .col h4{
    color: var(--light-color-100);
    font-size: 1.2em;
    font-weight: 400;
}

footer .links-footer .col input{
    
    background: transparent;
    border: 1px solid ;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, var(--dark-color), var(--light-color-300), var(--light-color-100), var(--light-color-300), var(--dark-color));
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1em;
    padding: .6em .3em;
    outline: none;
    color: var(--light-color-100);
    width: 100%;

}

footer .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 7em;
    
}
footer .footer h1{
    font-size: 2em;
    color: var(--light-color);
}
footer .footer p{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--light-color-100);
}

@media screen and (max-width: 1120px){
    footer .links-footer .col h3{
        font-size: 1.7em;
    }
    footer .links-footer .col p {
        font-size: 1em;
    }
}

@media screen and (max-width: 1080px){
    footer .links-footer {
        padding: 2em 4em;
    }
    footer .footer{
        padding: 1em 4em;}
    footer .links-footer .col h3{
        font-size: 1.6em;
    }
    footer .links-footer .col p {
        font-size: 1.1em;
    }
}



@media screen and (max-width: 800px){
    footer .links-footer{
        flex-direction: column;

    }
    footer .links-footer .col h3{
        font-size: 1.4em;     margin-bottom: .7em;
    }
    footer .links-footer .col p {
        font-size: 1em;
    }

    footer .links-footer .col{
        margin-bottom: 1em;
    }


}